{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-trailing-function-commas"
  ]
}
