<div
  class="panel"
  ng-class="{'panel-success': $ctrl.credits.passed.percentage    === 100 &&
                              $ctrl.field_examination_possible,
             'panel-warning': $ctrl.credits.available.compulsory !== 0 ||
                              $ctrl.credits.enrolled.compulsory  !== 0,
             'panel-default': $ctrl.credits.available.compulsory === 0 &&
                             !$ctrl.field_examination_possible,
             'auto-grade': !$ctrl.examination,
             examination: $ctrl.examination
  }"
>

  <div class="panel-heading">
    <div class="row">

      <!-- title -->
      <h4 class="col-xs-9">{{::$ctrl.field}}</h4>

      <!-- field grade input -->
      <div class="col-xs-2">
        <grade-input
          grade="$ctrl.grade"
          active="$ctrl.examination"
          change="$ctrl.gradeChange(newGrade)"
        ></grade-input>
      </div>

      <!-- field button + dropdown -->
      <div class="col-xs-1">
        <div class="btn-group dropdown" dropdown>

          <button
            type="button"
            dropdown-toggle
            class="btn btn-xs btn-block dropdown-toggle"
            ng-class="{'btn-success': $ctrl.credits.available.compulsory == 0,
                       'btn-warning': $ctrl.credits.available.compulsory != 0}">

            <span
              class="glyphicon"
              ng-class="{
                'glyphicon-ok'    : $ctrl.credits.available.compulsory == 0,
                'glyphicon-pencil': $ctrl.credits.available.compulsory != 0
              }"
            ></span>

          </button>

          <ul class="dropdown-menu pull-right">

            <!-- trigger field examination -->
            <li ng-if="$ctrl.field_examination_possible &&
                       100 === $ctrl.credits.passed.percentage"
            >
              <tickable
                ng-model="$ctrl.examination"
                ng-change="$ctrl.gradeChange(null, $ctrl.examination)"
              >
                Examination
              </tickable>
            </li>

            <li>
              <a ng-href="~/courses/new?field_id={{::$ctrl.field_id}}">
                Add unofficial course
              </a>
            </li>

            <li>
              <tickable ng-model="$ctrl.minimized" ng-change="$ctrl.minimize()">
                {{$ctrl.minimized | iif : 'Collapsed' : 'Collpase'}}
              </tickable>
            </li>

            <li>
              <a ng-href="courses?regulation={{::$ctrl.regulation_id}}&field={{::$ctrl.field}}">
                Find courses
              </a>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </div><!--/panel-heading-->

  <div class="panel-body" ng-hide="$ctrl.minimized">
    <!-- 'course' directives -->
    <ng-transclude></ng-transclude>

    <!-- foreign credits -->
    <div class="row" ng-if="$ctrl.credits.foreign">
      <div class="foreign-credits col-xs-11">
        Overflowing credits from other fields
        <small class="text-info">
          [{{$ctrl.credits.foreign}}]
        </small>
      </div>
    </div>
  </div>

  <!-- progress bar panel footer -->
  <div class="panel-footer" ng-hide="$ctrl.minimized">
    <div progress>
      <div progressbar
        type="'success'"
        value="$ctrl.credits.passed.percentage"
        text="$ctrl.credits.passed.overflowing | iif
          : ($ctrl.credits.passed.sum + $ctrl.credits.passed.overflowing) +
            ' / ' + $ctrl.credits.full
          : $ctrl.credits.passed.sum"
      ></div>
      <div progressbar
        type="'info'"
        value="$ctrl.credits.enrolled.percentage"
        text="$ctrl.credits.enrolled.sum"
      ></div>
      <div progressbar
        type="'required'"
        value="$ctrl.credits.available.percentage_compulsory"
        text="$ctrl.credits.available.compulsory"
      ></div>
      <div progressbar
        type="'background'"
        value="$ctrl.credits.available.percentage_optional"
        text="$ctrl.credits.available.optional"
      ></div>
    </div>
    <br style="clear: both;" />
  </div><!-- /panel-footer -->

</div>
