<div
  class="panel"
  ng-class="{'panel-success': field.credits.passed.percentage    === 100 &&
                              field.field_examination_possible,
             'panel-warning': field.credits.available.compulsory !== 0 ||
                              field.credits.enrolled.compulsory  !== 0,
             'panel-default': field.credits.available.compulsory === 0 &&
                             !field.field_examination_possible}"
>

  <div class="panel-heading">
    <div class="row">

      <!-- title -->
      <h4 class="col-xs-9">{{::field.field}}</h4>

      <!-- field grade input -->
      <div class="col-xs-2">
        <grade-input
          grade="field.grade"
          editable="field.examination"
          change="field.gradeChange(newGrade)"
        ></grade-input>
      </div>

      <!-- field button + dropdown -->
      <div class="col-xs-1">
        <div class="btn-group dropdown" dropdown>

          <button
            type="button"
            dropdown-toggle
            class="btn btn-xs btn-block dropdown-toggle"
            ng-class="{'btn-success': field.credits.available.compulsory == 0,
                       'btn-warning': field.credits.available.compulsory != 0}">

            <span
              class="glyphicon"
              ng-class="{
                'glyphicon-ok'    : field.credits.available.compulsory == 0,
                'glyphicon-pencil': field.credits.available.compulsory != 0
              }"
            ></span>

          </button>

          <ul class="dropdown-menu pull-right">

            <!-- trigger field examination -->
            <li ng-if="field.field_examination_possible &&
                       100 === field.credits.passed.percentage"
            >
              <tickable
                ng-model="field.examination"
                ng-change="field.gradeChange(null, field.examination)"
              >
                Examination
              </tickable>
            </li>

            <li>
              <a ng-href="~/courses/new?field_id={{::field.field_id}}">
                Add unofficial course
              </a>
            </li>

            <li>
              <tickable ng-model="field.minimized" ng-change="field.minimize()">
                {{field.minimized | iif : 'Collapsed' : 'Collpase'}}
              </tickable>
            </li>

            <li>
              <a ng-href="courses?regulation={{::field.regulation_id}}&field={{::field.field}}">
                Find courses
              </a>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </div><!--/panel-heading-->

  <div class="panel-body" ng-hide="field.minimized">
    <!-- 'course' directives -->
    <ng-transclude></ng-transclude>

    <!-- foreign credits -->
    <div class="row" ng-if="field.credits.foreign">
      <div class="foreign-credits col-xs-11">
        Overflowing credits from other fields
        <small class="text-info">
          [{{field.credits.foreign}}]
        </small>
      </div>
    </div>
  </div>

  <!-- progress bar panel footer -->
  <div class="panel-footer" ng-hide="field.minimized">
    <progress>
      <progressbar
        data-type="'success'"
        data-value="field.credits.passed.percentage"
        data-text="field.credits.passed.overflowing | iif
          : (field.credits.passed.sum + field.credits.passed.overflowing) +
            ' / ' + field.credits.full
          : field.credits.passed.sum"
      ></progressbar>

      <progressbar
        data-type="'info'"
        data-value="field.credits.enrolled.percentage"
        data-text="field.credits.enrolled.sum"
      ></progressbar>

      <progressbar
        data-type="'required'"
        data-value="field.credits.available.percentage_compulsory"
        data-text="field.credits.available.compulsory"
      ></progressbar>

      <progressbar
        data-type="'background'"
        data-value="field.credits.available.percentage_optional"
        data-text="field.credits.available.optional"
      ></progressbar>
    </progress>
  </div><!-- /panel-footer -->

</div>
