<!-- demo warning -->
<div class="alert alert-warning"
  ng-if="$ctrl.user.username === 'demo'">
  You are currently viewing the live demo. To make sustaining changes please log in with your own credentials!
</div>



<!-- Headline -->
<h1>
  {{$ctrl.user.username}}'s overview
  <icon i="heart"
    ng-show="$ctrl.facts.examinationFieldsCount"></icon>
  <icon i="refresh"
    class="spin"
    ng-hide="$ctrl.facts.examinationFieldsCount"></icon>
</h1>



<!-- Leading descriptive sentences. -->
<div ng-if="$ctrl.user.mat_verify">
  <!-- already enrolled in some courses -->
  <p class="lead"
    ng-if="$ctrl.courses.length">
    <span ng-show="$ctrl.facts.grades.overall && $ctrl.facts.credits.passed">
      You earned a total of <strong>{{$ctrl.facts.credits.passed}} credits</strong> with the <strong>average grade {{$ctrl.facts.grades.overall}}</strong>.
    </span>

    <!-- enrolled ects -->
    <span ng-show="$ctrl.facts.credits.enrolled">Your current in-progress courses promise <ng-pluralize count="$ctrl.facts.credits.enrolled" when="{'1': 'one credit', 'other': '{} credits'}"></ng-pluralize>.</span>

    <!-- Add notice about overflowing credits. -->

    <!-- Add notice about amount of credits to be collected by the end of the second semester -->

    <!-- graduation grade -->
    <span ng-if="$ctrl.facts.grades.graduation">
      Presumably you will have something around a <strong>{{$ctrl.facts.grades.graduation}} graduation grade</strong>.
    </span>

    <span ng-if="!$ctrl.thesisinput">
      <abbr class="undercover" ng-click="$ctrl.thesisinput=!$ctrl.thesisinput">You did not yet write your thesis</abbr>{{$ctrl.facts.examinationFieldsCount > $ctrl.facts.examinationFieldsCompletedCount | iif : ' and ' : '.' }}
    </span>

    <span ng-if="$ctrl.facts.examinationFieldsCount>$ctrl.facts.examinationFieldsCompletedCount">
      {{$ctrl.thesis.active | iif:'B':'b'}}y now {{$ctrl.thesis.active | iif : 'you ' : ''}} completed both the compulsory and optional part for {{$ctrl.facts.examinationFieldsCompletedCount}} of the required {{$ctrl.facts.examinationFieldsCount}} fields.
    </span>

    <!-- Module Examinations -->
    <!-- TODO: Not relevant for MSc students -->
    <!-- TODO: Add sentence about (best) passed oral module examination. -->
    <span ng-if="!$ctrl.facts.examinationCount">
        Finally, you still need to pass an oral module examination.
      </span>

    <!-- TODO: Add sentence about best fields which count into the grade. -->
  </p>

  <!-- no courses yet -->
  <p class="lead"
    ng-if="$ctrl.courses.length==0">
    You have not yet added any courses. To do so you can use the <span class="text-success">quick search</span> in the top right of this page or browse the more finely filterable <a ng-href="courses?regulation={{$ctrl.user.regulation_id}}&timeframe=11%2B}">course index</a>.
    <span ng-if="$ctrl.user.regulation_id==1">
      Alternatively you can take a look at the <a href="guide">study guide</a> or I can give you a head start by adding the typical courses for your first semesters:
      <button class="btn btn-primary"
        ng-click="$ctrl.headstart()">
        Initialize
      </button>
    </span>
  </p>

  <hr>
</div>



<!-- verify enrollment semester -->
<div ng-if="!$ctrl.user.mat_verify">
  <p class="lead"
    style="margin-bottom: 0">
    Please verify your matriculation semester:
  </p>
  <matriculation-setter verify=1></matriculation-setter>
  <hr>
</div>



<!-- thesis row -->
<div ng-if="$ctrl.thesisinput">
  <thesis-input></thesis-input>
  <hr>
</div>



<!-- the fields -->
<overview-columns fields="$ctrl.fields"
  courses="$ctrl.courses">
</overview-columns>



<!-- legend -->
<hr>
<p class="pull-right"
  ng-show="$ctrl.user.mat_verify">
  <small>
    <icon i="pencil" class="text-primary"></icon> Current,&nbsp;
    <icon i="ok" class="text-success"></icon> Completed,&nbsp;
    <icon i="remove" class="text-danger"></icon> Failed
  </small>
</p>

<p class="hidden-xs hidden-sm">
  <small>
    {{$ctrl.user.regulation}}
  </small>
</p>
