<div class="alert alert-danger" ng-class="alert.class" ng-show="alert" ng-controller="Alert">
  <button type="button" class="close" ng-click="closeAlert()">&times;</button>
  <strong>{{alert.title}}</strong> {{alert.text}}
</div>

<form class="form-horizontal">
<fieldset class="row">
  <div class="col-xs-12" ng-switch="pageType">
    <h1 ng-switch-when="'edit'">Edit: {{course.course}} <small>({{course.term}}{{course.year | year}})</small></h1>
    <h1 ng-switch-when="'new'">New course</h1>
  </div>

  <hr>

  <div class="alert alert-danger" ng-if="course.proposal">
    You already proposed changes for this course which were not yet accepted! Your old proposal will be overwritten if you submit another one. You can also <a ng-href="courses/{{course.proposal}}/edit">update it</a> directly.
  </div>

  <div class="alert alert-danger" ng-if="course.preliminary">
    This course is <strong>preliminary</strong> and not listed in the public database!
    <span ng-if="course.parent_course_id">It is a proposed update for <a ng-href="courses/{{course.parent_course_id}}/edit">#{{course.parent_course_id}}</a>.</span>
  </div>

  <div class="row" ng-include="'partials/courses/form.html'"></div>

  <div class="col-lg-12">
    <button type="button" class="btn btn-primary btn-large btn-block" ng-class="{disabled : loading}" ng-click="updateCourse()" ng-disabled="loading">{{loading | iif: 'Loading...' : 'Submit'}}</button>
  </div>
</fieldset>
</form>
