<h1>Course Proposals</h1>
<p class="lead">This page lists all active proposals for new courses or course updates.</p>
<hr>
<p ng-show="courses.length==0">There are currently no pending proposals.</p>
<table class="table table-striped" ng-hide="courses.length==0">
  <thead>
    <tr>
      <th>Course title</th>
      <th>Original</th>
      <th>Proposed</th>
      <th>Modifier</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="course in courses">
      <td>{{course.original_course}}</td>
      <td><a ng-href="courses/{{course.parent_course_id}}">{{course.parent_course_id}}</a></td>
      <td><a ng-href="courses/{{course.course_id}}">{{course.course_id}}</a></td>
      <td>{{course.modified_by}}</td>
      <td class="btn-group">
        <button type="button" class="btn btn-success" ng-click="acceptProposal(course)" ng-disabled="course.loading">Accept</button>
        <button type="button" class="btn btn-warning" ng-click="dismissProposal(course)" ng-disabled="course.loading">Dismiss</button>
        <a ng-href="courses/{{course.parent_course_id}}/to/{{course.course_id}}" class="btn btn-info">Compare</a>
      </td>
    </tr>
  </tbody>
</table>
