<div ng-show="$ctrl.user.loggedin">

  <!-- add course to one of multiple fields -->
  <div
    dropdown
    class="btn-group dropdown"
    ng-class="{ disabled: $ctrl.busy }"
    style="display: block;"
    ng-disabled="$ctrl.busy"
    ng-if="$ctrl.fields.length>1 && !$ctrl.enrolled"
  >
    <a dropdown-toggle class="btn btn-success dropdown-toggle {{$ctrl.btnClass}}">
      <icon i="plus"></icon>
    </a>
    <ul class="dropdown-menu pull-right">
      <li ng-repeat="field in $ctrl.fields track by field.field_id">
        <a
          style="cursor: pointer;"
          ng-click="$ctrl.add(field.field_id)"
          ng-bind="::field.field"
        ></a>
      </li>
    </ul>
  </div>

  <!-- add course to the only possible field -->
  <a
    class="btn btn-success {{$ctrl.btnClass}}"
    ng-class="{disabled: busy}"
    ng-disabled="busy"
    ng-if="$ctrl.fields.length<=1 && !$ctrl.enrolled"
    ng-click="$ctrl.add($ctrl.singleField)"
  >
    <icon i="plus"></icon>
  </a>

  <!-- remove course -->
  <a
    class="btn btn-danger {{$ctrl.btnClass}}"
    ng-class="{ disabled: $ctrl.busy }"
    ng-disabled="$ctrl.busy"
    ng-show="$ctrl.enrolled"
    ng-click="$ctrl.remove()"
  >
    <icon i="minus"></icon>
  </a>
</div>
