<div class="col-md-6 col-md-offset-3">
  <form ng-submit="submit()" class="form-horizontal">

    <h1>{{course.unofficial_course | iif : course.unofficial_course : 'Unofficial course'}}</h1>

    <hr>

    <div class="form-group">
      <label class="control-label col-md-3" for="code">Code</label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          ng-model="course.unofficial_code"
          id="code"
          placeholder="8.042">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="title">Title</label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          ng-model="course.unofficial_course"
          id="title"
          placeholder="Full course name">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="field">Field</label>
      <div class="col-md-9">
        <select
          class="form-control"
          ng-model="course.field_id"
          ng-options="field.field_id as field.field for field in fields"
          id="field">
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="ects">Credits</label>
      <div class="col-md-9">
        <input
          type="number"
          class="form-control"
          min="0"
          max="18"
          ng-model="course.unofficial_ects"
          id="ects">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3">Term</label>
      <div class="col-md-9">
        <div class="row">

          <div class="col-md-8">
            <input
              type="number"
              class="form-control"
              min="2000"
              max="2030"
              ng-model="course.unofficial_year"
              id="year"
              placeholder="{{meta.year}}">
          </div>

          <div class="col-md-4">
            <label style="margin: 0 !important; font-weight:normal">
              <input type="radio" ng-model="course.unofficial_term" value="S">
              Summer
            </label>
            <label style="margin: 0 !important; font-weight:normal">
              <input type="radio" ng-model="course.unofficial_term" value="W">
              Winter
            </label>
          </div>

        </div>
      </div>
    </div>

    <hr>

    <div class="pull-right">
      <a href="~" type="button" class="btn btn-warning">
        <span class="glyphicon glyphicon-remove"></span>
      </a>

      <button type="submit" class="btn btn-success" ng-class="{disabled : submitted}" ng-disabled="submitted">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>

  </form>
</div>
