// General colors
@gray-lighter:  #F3F3F3; //lighten(#000, 93.5%); // #eee
@uos-highlight: #fbb900;
@uos-red: #AD1034;

//

@icon-font-path:          "/~SPAM/app/fonts/";

// Get rid of rounded corners

@border-radius-base:             0px; // 4
@border-radius-large:            0px; // 6
@border-radius-small:            0px; // 3
@pager-border-radius:            0px; //15px;
@badge-border-radius:         0px; //10px;

// Navbar
// -------------------------

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-default-color:             #777;
@navbar-default-bg:                #474747; // #f8f8f8;
@navbar-default-border:            darken( #AD1034, 20% ); // darken(@navbar-default-bg, 6.5%);
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor(@grid-gutter-width / 2);
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);

// Navbar links
@navbar-default-link-color:                #fff; // #777
@navbar-default-link-hover-color:          #fff; // #333
@navbar-default-link-hover-bg:             #AD1034; // transparent
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            lighten(@navbar-default-bg, 6.5%); // darken
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-link-color, 30%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #ccc;
@navbar-default-toggle-border-color:       #ddd;


// Panels
// -------------------------
@panel-bg:                    @gray-lighter; // #fff;
@panel-inner-border:          none; // #ddd;
@panel-border-radius:         @border-radius-base;
@panel-footer-bg:             transparent; //#f5f5f5;

@panel-default-text:          @gray-dark;
@panel-default-border:        none; // #ddd;
@panel-default-heading-bg:    transparent; //#f5f5f5;

@panel-primary-text:          #fff;
@panel-primary-border:        none; // @brand-primary;
@panel-primary-heading-bg:    @brand-primary;

@panel-success-text:          @state-success-text;
@panel-success-border:        none; // @state-success-border;
@panel-success-heading-bg:    @state-success-bg;

@panel-warning-text:          @state-warning-text;
@panel-warning-border:        none; // @state-warning-border;
@panel-warning-heading-bg:    @state-warning-bg;

@panel-danger-text:           @state-danger-text;
@panel-danger-border:         none; // @state-danger-border;
@panel-danger-heading-bg:     @state-danger-bg;

@panel-info-text:             @state-info-text;
@panel-info-border:           none; // @state-info-border;
@panel-info-heading-bg:       @state-info-bg;
