<h1>Administration Area</h1>

<hr>

<h2>Active administration routes</h2>
<ul>
  <li><a href="admin/migrate">/admin/migrate</a></li>
  <li><a href="courses">/courses</a></li>
  <li><a ng-href="courses/{{course_id}}">/courses/</a><input type="text" ng-model="course_id" placeholder="#course_id"></li>
  <li><a href="courses/proposals">/courses/proposals</a></li>
</ul>

<hr>

<h2>Inactive administration routes</h2>
<ul>
  <li><a href="courses/new">/courses/new</a></li>
  <li><a href="fields">/fields</a></li>
  <li><a href="fields/new">/fields/new</a></li>
  <li><a href="professors">/professors</a></li>
  <li><a href="professors/new">/professors/new</a></li>
  <li><a href="regulations">/regulations</a></li>
  <li><a href="regulations/new">/regulations/new</a></li>
</ul>
