<div
  class="navbar navbar-fixed-top navbar-default"
  ng-controller="NavbarController as navbar"
  ng-mouseover="navbar.search.hover = true"
  ng-mouseout=" navbar.search.hover = false"
>

  <!-- animated loader -->
  <div class="loader">
    <div class="container">
      <div class="loadingbar" ng-class="{visible: navbar.showLoader}"></div>
    </div>
  </div>


  <!-- top navigation bar -->
  <div class="container">

    <!-- SPAM icon text and home link + navbar-toggle for small devices -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        ng-click="navbar.navExpanded = !navbar.navExpanded"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="." class="navbar-brand pointer">SPAM</a>
    </div>

    <div class="navbar-collapse collapse" ng-class="{in: navbar.navExpanded}">
      <ul class="nav navbar-nav">
        <li ng-class="navbar.getNavigationActiveClass('/courses')">
          <a
            href="courses"
            ng-href="courses?regulation={{user.regulation_id
              | iif : user.regulation_id : 1}}&timeframe=13%2B"
          >
            courses
          </a>
        </li>

        <li ng-class="navbar.getNavigationActiveClass('/guide')">
          <a href="guide">guide</a>
        </li>

        <li
          ng-class="navbar.getNavigationActiveClass('/~')"
          ng-hide="!navbar.user || navbar.user.role != 'student'"
        >
          <a href="~" ng-bind="navbar.user.username"></a>
        </li>

        <li
          ng-class="navbar.getNavigationActiveClass('/admin')"
          ng-if="user.rank >= 16"
        >
          <a href="admin">admin</a>
        </li>
      </ul>

      <form class="navbar-form navbar-right hidden-xs">
        <input
          type="text"
          class="form-control"
          placeholder="{{navbar.search.placeholder}}"
          ng-model="navbar.search.query"
          ng-model-options="{debounce: 200}"
          ng-focus="navbar.search.focus = true"
          ng-blur="navbar.search.focus = false">
      </form>
    </div>
  </div>

  <!-- quick search section -->
  <div
    class="container quicksearch"
    ng-if="navbar.search.active && 0 < navbar.search.filtered.length"
    style="background: #fff;">


    <!-- quick search result rows -->
    <div
      class="row"
      ng-repeat="course in navbar.search.filtered track by course.course_id">

      <div class="col-sm-1 hidden-xs"><code>{{::course.code}}</code></div>

      <div
        class="col-sm-4 col-xs-6"
        ng-bind-html="course.course | highlight: search.filter.course"
      ></div>

      <div class="col-sm-1 col-xs-2" style="text-align: right;">
        {{::course.term}}{{::course.year | year}}
      </div>

      <div class="col-sm-2 hidden-xs" ng-bind="course.teachers_str"></div>

      <div class="col-sm-2 hidden-xs" ng-bind="course.fields_str"></div>

      <!-- add/remove + details buttons -->
      <div class="col-sm-2 col-xs-4">
        <add-remove-course
          course="course"
          style="width: 50%; float: left;"
          btn-class="btn-block">
        </add-remove-course>

        <a
          class="btn btn-warning"
          style="width: 50%; float: right;"
          ng-href="courses/{{course.course_id}}"
        >
          <span class="glyphicon glyphicon-share-alt"></span>
        </a>

      </div>

    </div>
  </div><!--/quick search section -->
</div>
