.bold {
  font-weight: bold;
}

.centering {
  text-align: center;
}

.inactive {
  opacity: .5;
}

.undercover {
  cursor: pointer;
}

.undercover:hover {
  color: #AD1034;
}

.pointer {
  cursor: pointer;
}

.inline {
  display: inline;
}

abbr {
  border-bottom: 1px dotted #999;
}

.invisible {
  visibility: hidden;
}
