<h1>Help</h1>
<p class="lead">You might find some useful information here.. But the list is far from complete. Remember: This project is still hot of the press! If you found an issue and want to help fixing it: <a href="mailto:ahoereth@uos.de" target="_blank">Drop me a line</a>.</p> 

<div class="panel-group faq">

	<!-- adding courses -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title" ng-click="open='addingcourses'">
					Adding courses
			</h2>
		</div>
		<div class="panel-body" ng-show="open=='addingcourses'">
			<p>There are multiple ways to add courses. The fastest one being the "quick search" in the top right of every page. Enter a course title and you will instantly get some results with a big green <span class="text-success glyphicon glyphicon-plus"></span> button. Look for this button on other pages as well. When a course already was added to your personal study plan before this button is replaced with a red <span class="text-danger glyphicon glyphicon-minus"></span> button. No need for explanation.</p>
			<p>By default the quick search only looks up courses from the semesters of the last, current and next year. If you want to go back further just prepend a year number to your search query like this: "<strong>11: Philosophy</strong>"
		</div>
	</div>

	<!-- Average Grades -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title" ng-click="open='averagegrades'">
					Average Grades
			</h2>
		</div>
		<div class="panel-body" ng-show="open=='averagegrades'">
			<p>Every course's grade is being multiplied with it's credits. All course grade products are beeing added up and then divided by the sum of credits of all courses. Lastly the grade is rounded to one decimal and normalized to <em>.0</em>, <em>.3</em> or <em>.7</em>.</p>
			<p>No warantee for correctness of any calculation results! Check them with the examinations office.</p>
		</div>
	</div>

	<!-- trust device -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title" ng-click="open='remember'">
					Do you trust this device?
			</h2>
		</div>
		<div class="panel-body" ng-show="open=='remember'">
			You select this checkbox on login the application will save your userdata on the device and auto login you the next time you open it. Otherwise you will need to enter your login credentials on every visit. Do not use this functionality when you are on a public computer.
		</div>
	</div>

	<!-- Privacy & Security -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title" ng-click="open='privacy'">
					Privacy & Security
			</h2>
		</div>
		<div class="panel-body" ng-show="open=='privacy'">
			<p>All connections to the server are <a href="http://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol_Secure" target="_blank">ssl encrypted</a>. Your login credentials are compared to the official UOS authentication server every 30 minutes and everytime they are entered wrong. This debounced setup is necessary due to the <a href="http://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">REST-API</a> centric layout of the application, which requires user authentication on every request. The RZ-servers don't like too many requests in a short time per user.</p>
			<p>While this application obviously stores your personal information regarding your courses and grades, it <b>does not</b> store your username or password in clear text. The password is <a href="http://php.net/manual/en/function.crypt.php" target="_blank">encrypted</a> and the username <a href="http://de1.php.net/manual/en/function.md5.php" target="_blank">hashed</a> so it is unreadable for someone viewing the database (which only a handful of people are authorized to but which also does not really enhance privacy). Grades and other stuff you enter are safed in clear text!</p>
			<p>Deleting your data <span ng-show="user">(see <a href="/~/settings">/~/settings</a>)</span> will only remove it from the live database. It might persist in backups - like with all other online services.</p>
			<p>Further more the application logs some anonymous information about search queries and page/course views.</p>
		</div>
	</div>

</div>