<div
	class="panel"
	ng-class="{
		'panel-success' : field.ects.completed.percent>=100,
		'panel-default' : field.ects.completed.percent<100,
		'hidden-sm hidden-md' : (visibilityIndex==0&&$odd)||(visibilityIndex==1&&$even)}">

	<div class="panel-heading">
		<div class="row">

			<h4 class="col-xs-9" ng-bind="field.field"></h4>

			<!-- field grade input -->
			<div class="col-xs-2">
				<input
					type="text"
					class="input-tiny"
					ng-class="{'no-grade-passed' : field.auto_grade}"
					ng-model="field.grade"
					ng-blur="editFieldGrade()"
					ng-keydown="blurOnEnter($event)"
					ng-disabled="field.auto_grade"
					onclick="select()"><!--ng-model-options="{updateOn: 'blur'}"-->
			</div>

			<!-- field button + dropdown -->
			<div class="col-xs-1">
				<div class="btn-group dropdown" style="width: 100%;">

					<button type="button"
						class="btn btn-xs btn-block dropdown-toggle"
						ng-class="{
							'btn-success' : field.ects.compulsory_percent==0,
							'btn-warning' : field.ects.compulsory_percent!=0}"
						style="height: 100%;">

						<span
							class="glyphicon"
							ng-class="{
								'glyphicon-star'   : field.bsc_relevant,
								'glyphicon-ok'     : field.ects.compulsory_percent==0
								                  &&!field.bsc_relevant,
								'glyphicon-pencil' : field.ects.compulsory_percent!=0
								                  && field.ects.completed.percent<100
								                  &&!field.bsc_relevant}">
						</span>

					</button>

					<ul class="dropdown-menu">

						<li>
							<a ng-href="courses?regulation={{user.regulation_id}}&field={{field.field}}">
								Find courses
							</a>
						</li>

						<li>
							<a ng-href="~/courses/new?field_id={{field.field_id}}">
								Add unofficial course
							</a>
						</li>

						<li>
							<label class="dropdown-checkbox">
								Examination
								<input type="checkbox"
									class="pull-right"
									ng-checked="!field.auto_grade"
									ng-click="fieldGradeInit()"
									style="margin-top: 3px;">
							</label>
						</li>

					</ul>
				</div>
			</div>

		</div>
	</div><!--/panel-heading-->

	<div class="panel-body">

			<div
				ng-repeat="course in field.courses track by course.student_in_course_id"
				ng-hide="course.removed"
				class="row course"
				ng-class="{overflowing : course.doesnt_count||course.muted||course.grade==5}"
				id="course{{course.course_id}}">

				<!-- title + ects -->
				<div class="col-xs-9">
					<span ng-switch="course.course_id">
						<a
							ng-switch-default
							ng-href="courses/{{course.course_id}}"
							tooltip="{{course.term}}{{course.year}}"
							ng-bind="course.course"></a>
						<span
							ng-switch-when="0"
							tooltip="{{course.term}}{{course.year}}"
							ng-bind="course.course"></span>
					</span>
					<small ng-show="course.ects" class="text-info">
						[{{course.ects}}]
					</small>
				</div>

				<!-- grade -->
				<div class="col-xs-2">
					<input
						type="text"
						class="input-tiny"
						ng-class="{'no-grade-passed' : course.passed&&!course.grade}"
						ng-model="course.grade"
						onclick="select()"
						ng-keydown="blurOnEnter( $event )"
						ng-blur="editGrade()">
				</div>

				<!-- dropdown button -->
				<div class="col-xs-1">

					<div class="btn-group dropdown" style="width: 100%;">
						<button
							type="button"
							class="btn btn-xs btn-block dropdown-toggle"
							ng-class="{
								'btn-info'        : !course.passed&&!course.muted,
								'btn-success'     :  course.passed&&!course.muted,
								'btn-default'     : !course.passed|| course.muted}">
							<span
								class="glyphicon"
								ng-class="{
									'glyphicon-pencil' : !course.passed,
									'glyphicon-star'   :((course.grade>=1&&course.grade<=4)|| course.passed)&&
									                    (!course.muted&& field.bsc_relevant),
									'glyphicon-ok'     :((course.grade>=1&&course.grade<=4)||course.passed)&&
									                    (!course.muted&&!field.bsc_relevant),
									'glyphicon-remove' :  course.grade>4}">
							</span>
						</button>

						<ul class="dropdown-menu">

							<li ng-hide="course.grade">
								<label class="dropdown-checkbox">
									Passed
									<input type="checkbox"
										class="pull-right"
										ng-model="course.passed"
										ng-change="editProp(course)"
										ng-checked="course.passed"
										style="margin-top: 3px;">
								</label>
							</li>

							<li>
								<label class="dropdown-checkbox">
									Muted
									<input type="checkbox"
										class="pull-right"
										ng-model="course.muted"
										ng-change="editProp(course)"
										ng-checked="course.muted"
										style="margin-top: 3px;">
								</label>
							</li>

							<li><a class="pointer" ng-click="removeCourse(course)">Remove</a></li>

							<li class="dropdown-header" ng-hide="course.fields===null&&course.enrolled_field_id==1">
								Move to other field
							</li>

							<!-- move to other fields -->
							<li ng-repeat="field in course.fields" ng-hide="field.field_id==course.enrolled_field_id">
								<a class="pointer" ng-click="moveCourse(field.field_id)">
									{{field.field}}
								</a>
							</li>

							<!-- move to open studies -->
							<li ng-hide="course.enrolled_field_id==1">
								<a class="pointer" ng-click="moveCourse(null)">Open Studies</a>
							</li>

						</ul>

					</div>
				</div>

			</div>

			<div ng-if="field.field_id == 1 && facts.ects.completed.floated">
				Floated credits from other fields: {{facts.ects.completed.floated}}<br>
			</div>

			<div ng-if="field.ects.completed.overhang">
				Overhanging credits: {{field.ects.completed.overhang}}
			</div>
	</div>

	<!-- progress bar panel footer -->
	<div class="panel-footer">
		<div class="progress" style="margin-bottom: 0">

			<!-- completed -->
			<div
				class="progress-bar progress-bar-success"
				style="width: {{field.ects.completed.percent}}%"
				ng-hide="field.ects.completed.percent==0"
				ng-bind="field.ects.completed.sum"></div>

			<!-- enrolled -->
			<div
				class="progress-bar progress-bar-info"
				style="width: {{field.ects.enrolled_percent}}%"
				ng-hide="field.ects.enrolled_percent==0"
				ng-bind="field.ects.enrolled"></div>

			<!-- required -->
			<div
				class="progress-bar progress-required"
				style="width: {{field.ects.compulsory_percent}}%"
				ng-hide="field.ects.compulsory_percent==0"
				ng-bind="field.ects.compulsory-field.ects.completed.compulsory"></div>

			<!-- open -->
			<div
				class="progress-bar progress-background"
				style="width: {{field.ects.rest_percent}}%"
				ng-hide="field.ects.rest_percent==0"
				ng-bind="field.ects.rest"></div>

		</div>
	</div><!-- /panel-footer -->

</div>
