<!-- demo warning -->
<div class="alert alert-warning" ng-if="user.username=='demo'">
	You are currently viewing the live demo. To make sustaining changes please log in with your own credentials!
</div>

<h1>{{user.username}}'s overview</h1>


<!-- already enrolled in some courses -->
<p class="lead" ng-if="user.courses.length">
	<span ng-show="average_grade">
		You <abbr tooltip-html-unsafe="passed and neither muted nor overflowing courses [{{completed_course_ects}}C]{{user.thesis_grade | iif : ' + bachelor thesis ['+user.thesis_ects+'C]' : ''}}">earned a total</abbr> of {{completed_ects}} credits with an average grade of <strong>{{average_grade}}</strong>.<!--, module examination [3C] -->
	</span>

	<!-- enrolled ects -->
	<span ng-show="enrolled_ects">The courses you are currently <abbr tooltip="not passed, not failed and neither muted nor overflowing">enrolled</abbr> in promise {{enrolled_ects}} credits.</span>

	<!-- current semester -->
	<span ng-show="currentSemester.ects">
		<span ng-show="currentSemester.ects==enrolled_ects">
			All of them in the current semester.
		</span>
		<span ng-hide="currentSemester.ects==enrolled_ects">
			<abbr tooltip-html-unsafe="{{currentSemester.abbr}}">This semester</abbr> you are pursuing {{currentSemester.ects}} credits.
		</span>
	</span>

	<!-- last semester -->
	<span ng-show="lastSemester.grade">
		In your <abbr tooltip-html-unsafe="{{lastSemester.abbr}}">last semester</abbr> you earned a total of {{lastSemester.completed_ects}} credits with an average grade of <strong>{{lastSemester.grade}}</strong>.
	</span>

	<!-- next semester -->
	<span ng-show="nextSemester.ects">
		Lastly, for the <abbr tooltip-html-unsafe="{{nextSemester.abbr}}">next semester</abbr> you have by now scheduled courses to earn {{nextSemester.ects}} credits.
	</span>

	<span ng-if="false">
		By the end of the second semester you are required to have completed a total of XX credits. XX2 to go!
	</span>

	<!-- bachelor -->
	<span ng-show="bachelor_grade">
		If I had to make a guess on your final bachelor grade I currently would answer with <strong>{{bachelor_grade}}</strong> - but do not pin me down on it.
	</span>

	<span class="undercover" ng-if="!user.thesis_title&&!user.thesis_grade&&user.completed_ects>100" ng-click="user.thesis_active=!user.thesis_active">
		You did not yet write your bachelor thesis.
	</span>
</p>


<!-- no courses yet -->
<p class="lead" ng-if="user.mat_verify&&user.courses.length==0">
	You have not yet added any courses.

	To do so you can use the <span class="text-success">quick search</span> in the top right of this page, browse the more specifically filterable <a ng-href="courses?regulation_id={{user.regulation_id}}">course index</a> or take a look at the <a href="guide">study guide</a>.

	Alternatively I can also give you a head start by adding the typical courses for your first	semester: <button class="btn btn-primary" ng-click="headstart()">Initialize</button>
</p>


<!-- verify enrollment semester -->
<div ng-if="!user.mat_verify">
	<hr ng-if="user.courses.length">

	<p class="lead">
		Please verify your matriculation semester:
	</p>

	<form class="form-group row" name="UserMatVerify" ng-controller="UserMatVerify">
		<div class="col-md-3">
			<div class="btn-group btn-group-justified">
				<label class="btn btn-primary" ng-model="verify.mat_term" btn-radio="'S'">Summer</label>
				<label class="btn btn-primary" ng-model="verify.mat_term" btn-radio="'W'">Winter</label>
			</div>
		</div>
		<div class="col-md-6">
			<div class="input-group" ng-class="{'has-error': UserMatVerify.year.$invalid}">
				<div class="input-group-btn" style="width: 25%" ng-repeat="year in years">
					<label class="btn btn-block btn-primary" ng-model="verify.mat_year" btn-radio="year">
						{{year}}
					</label>
				</div>
				<input
					type="number"
					class="form-control centering"
					ng-model="verify.mat_year"
					placeholder="Year"
					name="year"
					required>
			</div>
		</div>
		<div class="col-md-3">
			<button
				class="btn btn-block btn-success"
				ng-click="doVerify()"
				ng-disabled="UserMatVerify.$invalid">
				Submit
				<span class="glyphicon glyphicon-ok"></span>
			</button>
		</div>
	</form>

	<p>
		This can be changed anytime in the <a href="~/settings">settings</a>.
	</p>
</div>


<!-- bachelor thesis row -->
<div ng-if="user.thesis_active||user.thesis_title||user.thesis_grade">
	<hr>

	<form class="inline-form row" ng-init="user.thesis_grade=user.thesis_grade">
		<div class="form-group col-lg-10 col-sm-9 col-xs-7">
			<input
				type="text"
				class="form-control"
				placeholder="Bachelor thesis title"
				ng-model="user.thesis_title"
				ng-blur="updateThesis()"
				ng-keydown="blurOnEnter($event)"
				ng-init="user.thesis_title_old=user.thesis_title">
		</div>

		<div class="form-group col-sm-2 col-xs-3">
			<input
				type="text"
				class="form-control form-control-tight"
				placeholder="Grade"
				onclick="select()"
				ng-model="user.thesis_grade"
				ng-blur="updateThesis()"
				ng-keydown="blurOnEnter($event)"
				ng-init="user.thesis_grade_old=user.thesis_grade">
		</div>
	</form>
</div>


<!-- the fields -->
<div class="overview-container row" ng-if="user.courses.length">
	<hr style="margin-top: 0">

	<div
		ng-repeat="column in columns"
		ng-init="outerIndex = $index"
		class="col-lg-4 col-md-6"
		ng-class="{'hidden-sm hidden-md' : $index==2}">

		<ng-include
			src="'partials/home/field.html'"
			ng-repeat="idx in column track by idx">
		</ng-include><!--ng-init="field = getFieldById(idx)"-->

		<div ng-if="outerIndex==0">
			<ng-include
				src="'partials/home/field.html'"
				ng-repeat="idx in columns[2] track by idx"
				ng-init="visibilityIndex = outerIndex"
				class="visible-sm visible-md">
			</ng-include>
		</div>

		<div ng-if="outerIndex==1">
			<ng-include
				src="'partials/home/field.html'"
				ng-repeat="idx in columns[2] track by idx"
				ng-init="visibilityIndex = outerIndex"
				class="visible-sm visible-md">
			</ng-include>
		</div>
	</div>
</div>

<hr>

<!-- legend -->
<p class="pull-right">
	<small>
		<span class="text-primary glyphicon glyphicon-pencil"></span> Current,&nbsp;
		<span class="text-success glyphicon glyphicon-ok"></span> Completed,&nbsp;
		<span class="text-danger glyphicon glyphicon-remove"></span> Failed,&nbsp;
		<span class="glyphicon glyphicon-saved"></span> BSC grade relevant field
	</small>
</p>
<p>
	<small>
		{{user.regulation}}
	</small>
</p>
