<div>
  <!-- directives/add-remove-course -->

  <!-- TODO: move dropdown handling into this directive -->

  <!-- add course to one of multiple fields -->
  <div
    dropdown
    class="btn-group dropdown"
    ng-class="{open: course.open, disabled: busy}"
    ng-disabled="busy"
    ng-if="!course.singleField && !enrolled"
  >
    <a dropdown-toggle class="btn btn-success dropdown-toggle {{btnClass}}">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <ul class="dropdown-menu pull-right">
      <li
        ng-repeat="field in course.fields"
        ng-class="{active: course.li==$index}">
        <a
          style="cursor: pointer;"
          ng-click="add(field.field_id)"
          ng-bind="::field.field"
        ></a>
      </li>
    </ul>
  </div>

  <!-- add course to the only possible field -->
  <a
    class="btn btn-success {{btnClass}}"
    ng-class="{disabled: busy}"
    ng-disabled="busy"
    ng-if="course.singleField && !enrolled"
    ng-click="add(course.singleField)"
  >
    <span class="glyphicon glyphicon-plus"></span>
  </a>

  <!-- remove course -->
  <a
    class="btn btn-danger {{btnClass}}"
    ng-class="{disabled: busy}"
    ng-disabled="busy"
    ng-show="enrolled"
    ng-click="remove()"
  >
    <span class="glyphicon glyphicon-minus"></span>
  </a>
</div>
