<div
  class="panel"
  ng-class="{
    'panel-success': field.credits.available.sum == 0
                  && field.field_examination_possible,
    'panel-warning':(field.credits.available.sum != 0
                  || field.field_examination_possible)
                  && field.credits.available.compulsory != 0,
    'panel-default':(field.credits.available.sum != 0
                  || field.field_examination_possible)
                  && field.credits.available.compulsory == 0
  }"
>
  <!-- Directives: field -->

  <div class="panel-heading">
    <div class="row">

      <h4 class="col-xs-9" ng-bind="::field.field"></h4>

      <!-- field grade input -->
      <div class="col-xs-2">
        <input
          type="text"
          blur-on-enter
          class="input-tiny"
          ng-class="{'no-grade-passed': field.auto_grade}"
          ng-model="grade"
          ng-blur="gradeChange()"
          ng-disabled="field.auto_grade"
          onclick="select()"
        />
      </div>

      <!-- field button + dropdown -->
      <div class="col-xs-1">
        <div class="btn-group dropdown" dropdown style="width: 100%;">

          <button
            type="button"
            dropdown-toggle
            class="btn btn-xs btn-block dropdown-toggle"
            ng-class="{'btn-success': field.credits.available.compulsory == 0,
                       'btn-warning': field.credits.available.compulsory != 0}"
            style="height: 100%;">

            <span
              class="glyphicon"
              ng-class="{
                'glyphicon-ok'    : field.credits.available.compulsory == 0,
                'glyphicon-pencil': field.credits.available.compulsory != 0
              }"
            ></span>

          </button>

          <ul class="dropdown-menu">

            <li>
              <a ng-href="courses?regulation={{::user.regulation_id}}&field={{::field.field}}">
                Find courses
              </a>
            </li>

            <li>
              <a ng-href="~/courses/new?field_id={{::field.field_id}}">
                Add unofficial course
              </a>
            </li>

            <li ng-if="field.field_examination_possible">
              <label class="dropdown-checkbox">
                Examination
                <input
                  type="checkbox"
                  class="pull-right"
                  ng-checked="!field.auto_grade"
                  ng-click="fieldGradeInit()"
                  style="margin-top: 3px;"
                />
              </label>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </div><!--/panel-heading-->

  <div class="panel-body">

    <ng-transclude></ng-transclude>

    <div ng-if="field.field_id == 1 && facts.ects.completed.floated">
      Floated credits from other fields: {{facts.ects.completed.floated}}<br>
    </div>
  </div>

  <!-- progress bar panel footer -->
  <div class="panel-footer">
    <div class="progress" style="margin-bottom: 0">

      <!-- passed -->
      <div
        class="progress-bar progress-bar-success"
        style="width: {{field.credits.passed.percentage}}%"
        ng-hide="field.credits.passed.percentage==0"
        ng-bind="field.credits.passed.sum"
      ></div>

      <!-- enrolled -->
      <div
        class="progress-bar progress-bar-info"
        style="width: {{field.credits.enrolled.percentage}}%"
        ng-hide="field.credits.enrolled.percentage==0"
        ng-bind="field.credits.enrolled.sum"
      ></div>

      <!-- available compulsory -->
      <div
        class="progress-bar progress-required"
        style="width: {{field.credits.available.percentage_compulsory}}%"
        ng-hide="field.credits.available.percentage_compulsory==0"
        ng-bind="field.credits.available.compulsory"
      ></div>

      <!-- available optional -->
      <div
        class="progress-bar progress-background"
        style="width: {{field.credits.available.percentage_optional}}%"
        ng-hide="field.credits.available.percentage_optional==0"
        ng-bind="field.credits.available.optional"
      ></div>

    </div>
  </div><!-- /panel-footer -->
</div>
