<h1>Settings</h1>

<hr>

<form class="form-horizontal">

  <!-- student's name -->
  <div class="form-group">
    <label class="control-label col-md-2" for="firstname">Name</label>
    <div class="col-md-5">
      <!-- first name input -->
      <input
        type="text"
        id="firstname"
        class="form-control"
        placeholder="Firstname"
        blur-on-enter
        instafocus
        ng-model="settings.user.firstname"
        ng-model-options="{updateOn: 'blur'}">
    </div>
    <div class="col-md-5">
      <!-- last name input -->
      <input
        type="text"
        id="lastname"
        class="form-control"
        placeholder="Lastname"
        blur-on-enter
        ng-model="settings.user.lastname"
        ng-model-options="{updateOn: 'blur'}">
    </div>
  </div>

  <!-- student's immatriculation -->
  <div class="form-group">
    <label class="control-label col-md-2">CogSci since</label>
    <matriculation-setter class="col-md-10"></matriculation-setter>
  </div>

  <!-- student's study regulation -->
  <div class="form-group">
    <label class="control-label col-md-2" for="regulation">Regulation</label>
    <div class="col-md-10">
      <select class="form-control" id="regulation" disabled="disabled">
        <option selected="selected">{{::settings.user.regulation}}</option>
      </select>
    </div>
  </div>

</form>

<hr>

<div class="btn-group btn-group-justified">
  <!-- delete account -->
  <a class="btn btn-default"
     ng-click="settings.showDelete = true"
     ng-hide="settings.showDelete">
    Delete all my data
  </a>
  <a class="btn btn-warning"
     ng-click="settings.showDelete2 = true"
     ng-show="settings.showDelete && !settings.showDelete2">
    Delete all my data, for sure!
  </a>
  <a class="btn btn-danger"
     ng-click="settings.deleteUser()"
     ng-show="settings.showDelete2">
    Delete all my data, for really sure!
  </a>

  <!-- export data -->
  <a class="btn btn-success"
     ng-click="settings.exportData()"
     disabled="disabled">
    Export data (coming soon)
  </a>
</div>
