@state-success-bg: #dff0d8;

.guide {
  .title,
  .head,
  .course {
    padding: 5px 0;
    line-height: 34.25px;
  }

  .head {
    border-bottom: 2px solid #dddddd;
  }

  .field {
    .title {
      background-color: @state-success-bg;
      border-bottom: 2px solid #ddd;
    }

    .course {
      border-bottom: 1px solid #ccc;
    }
  }
}
