<div ng-show="user.loggedin">
  <!-- directives/add-remove-course -->

  <!-- add course to one of multiple fields -->
  <div
    dropdown
    class="btn-group dropdown"
    ng-class="{disabled: busy}"
    ng-disabled="busy"
    ng-if="fields.length>1 && !enrolled"
  >
    <a dropdown-toggle class="btn btn-success dropdown-toggle {{btnClass}}">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <ul class="dropdown-menu pull-right">
      <li ng-repeat="field in ::fields track by field.field_id">
        <a
          style="cursor: pointer;"
          ng-click="add(field.field_id)"
          ng-bind="::field.field"
        ></a>
      </li>
    </ul>
  </div>

  <!-- add course to the only possible field -->
  <a
    class="btn btn-success {{btnClass}}"
    ng-class="{disabled: busy}"
    ng-disabled="busy"
    ng-if="fields.length<=1 && !enrolled"
    ng-click="add(singleField)"
  >
    <span class="glyphicon glyphicon-plus"></span>
  </a>

  <!-- remove course -->
  <a
    class="btn btn-danger {{btnClass}}"
    ng-class="{disabled: busy}"
    ng-disabled="busy"
    ng-show="enrolled"
    ng-click="remove()"
  >
    <span class="glyphicon glyphicon-minus"></span>
  </a>
</div>
