SetOutputFilter DEFLATE

AddType application/vnd.ms-fontobject    .eot
AddType application/x-font-opentype      .otf
AddType image/svg+xml                    .svg
AddType application/x-font-ttf           .ttf
AddType application/font-woff            .woff

Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

# Enforce cogsci subdomain. Production only.
#PROD# RewriteCond %{HTTP_HOST} ^ikw\.uni-osnabrueck\.de$ [NC]
#PROD# RewriteRule ^(.*) https://cogsci.uos.de/~SPAM/$1 [R=301,L]

# Enforce HTTPS. Production only.
#PROD# RewriteCond %{HTTPS} !=on
#PROD# RewriteCond %{ENV:HTTPS} !=on
#PROD# RewriteRule ^(.*) https://cogsci.uni-osnabrueck.de/~SPAM/$1 [R=301,L]

# If a directory or a file exists, use it directly,
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# otherwise forward the request to root.
#PROD# RewriteRule ^(.*) /~SPAM/#!/$1 [NC,L]
#DEV#  RewriteRule ^(.*) /\#!/$1 [NC,L]

# Security rules. Production only.
#PROD# ServerSignature Off
#PROD# Header set X-Frame-Options "SAMEORIGIN"
#PROD# Header set X-Content-Type-Options "nosniff"
#PROD# Header set Content-Security-Policy "default-src 'self' 'unsafe-inline'"
#PROD# Header set Strict-Transport-Security "max-age=31536000"
#PROD# Header set 'X-XSS-Protection' "1; mode=block"
