<div class="matriculation-setter">
  <form class="form-group" name="matriculationSetter">
    <!-- summer/winter term selection -->
    <div ng-class="{'col-md-3': verifyButton, 'col-md-4': !verifyButton}">
      <div
        class="btn-group btn-group-justified"
        ng-model="user.mat_term"
        radio-button-group
      >
        <label class="btn btn-primary">
          <input type="radio" class="btn btn-default" value="S">
          Summer
        </label>
        <label class="btn btn-primary">
          <input type="radio" class="btn btn-default" value="W">
          Winter
        </label>
      </div>
    </div>

    <!-- year selection -->
    <div ng-class="{'col-md-6': verifyButton, 'col-md-8': !verifyButton}">

      <div class="input-group" style="width: 100%">
        <!-- the three most recent years as buttons -->
        <div
          class="input-group-btn"
          style="width: 25%"
          ng-repeat="year in years"
        >
          <button
            class="btn btn-block btn-primary"
            value="{{::year}}"
            radio-button
            ng-model="user.mat_year"
            ng-bind="::year"
          ></button>
        </div>

        <!-- input for all other years -->
        <input
          min="2000"
          max="2020"
          type="number"
          name="year"
          required
          placeholder="{{::years[2]-1}}"
          class="form-control centering"
          ng-class="{'has-error': matriculationSetter.year.$invalid}"
          blur-on-enter
          ng-model="user.mat_year"
          ng-model-options="{updateOn: 'blur'}">
      </div>
    </div>

    <!-- explicit confirmation -->
    <div class="col-md-3" ng-if="verifyButton">
      <button
        class="btn btn-block btn-success"
        ng-disabled="matriculationSetter.$invalid"
        ng-click="verify()"
      >
        Verify&nbsp;
        <icon i="ok"></icon>
      </button>
    </div>
  </form>
</div>
