<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title">{{course.course}}!</h4>
</div>

<div class="modal-body">
  <table class="table table-striped">
    <tr ng-repeat="field in course.fields">
      <td>
        <span class="text-primary">{{field.field}}</span>
      </td>
      <td>
        <small>{{field.regulation_abbr}}</small>
      </td>
      <td>
        <div class="btn-group">
            <button class="btn btn-primary" type="button" ng-model="guideInc[field.field_id]" btn-radio="0">Hide</button>
            <button class="btn btn-primary" type="button" ng-model="guideInc[field.field_id]" btn-radio="null" ng-class="{active:guideInc[field.field_id]==null}">Auto</button>
            <button class="btn btn-primary" type="button" ng-model="guideInc[field.field_id]" btn-radio="1">Show</button>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>
